<div class="container">
  <div class="row">
    <div class="col-sm-12 titolo">
      <h1>Some examples of bootstrap grid.</h1>
    </div>
  </div>
  <div class="row gruppo">
    <div class="col-xs-12 col-md-8 primo">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4 secondo">.col-xs-6 .col-md-4</div>
  </div>

  <div class="row gruppo">
    <div class="col-xs-6 primo">col-xs-6 example-block</div>
    <div class="col-xs-6 secondo">col-xs-6 example-block</div>
  </div>

  <div class="row">
    <div class="col-sm-12 titolo">
      <h1>Some examples of bootstrap grid using sass mixins.</h1>
    </div>
  </div>

  <section>
    <article>using sass -> @include make-lg-column(8)</article>
    <div>using sass -> @include make-lg-column(4);</div>
  </section>

  <div class="row">
    <div class="col-sm-12 titolo">
      <h2 id="jquery">If you see this text, jquey is <b>not</b> working.</h2>
      <p><span>Title</span> <span>Michel     and    Cinzia</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 titolo">
      <h2>Another title.</h2>
      <p><a href="about.html">Link to about.html</a></p>
    </div>
  </div>
</div>
<!-- container -->
